<div class="flex justify-content-center h-screen p-4">
  <div class="m-auto col-12 lg:col-4">
    <h1 class="text-center uppercase">Login</h1>

    <label for="email" class="block">Email</label>
    <input id="email" type="email" class="w-full" pInputText
           [(ngModel)]="email"
           [disabled]="this.loginInProgress"/>

    <label for="password" class="block">Password</label>
    <input id="password" type="password" class="w-full" pInputText
           [(ngModel)]="password"
           [disabled]="this.loginInProgress"/>

    <button class="w-full uppercase mt-4" label="Login" pButton
            [disabled]="this.loginInProgress"
            (click)="login()"></button>
    <p-messages [(value)]="messages"></p-messages>
  </div>
</div>
