<p-table loadingIcon="" [value]="filteredAuthors" [loading]="authorsLoading" [scrollable]="true">
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between">
      <div>
        <span class="p-input-icon-left mb-2 mr-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="authorName" type="search" pInputText placeholder="Search by Author">
        </span>
        <span class="p-input-icon-left mb-2 mr-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="bookName" type="search" pInputText placeholder="Search by Book">
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th id="code" class="text-center w-4rem">Code</th>
      <th id="name">Name</th>
      <th id="books-num">Books</th>
      <th *ngIf="isLoggedIn" d="edit"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-author>
    <tr>
      <td class="text-center">
        #{{ author.id }}
      </td>
      <td>
        <a class="text-primary no-underline" [routerLink]="['/', 'authors', author.id]">{{ author.name }}</a>
      </td>
      <td>
        <span *ngIf="author.books.length" >{{ getAuthorBooks(author) }}</span>
        <i *ngIf="!author.books.length" class="pi pi-times"></i>
      </td>
      <td *ngIf="isLoggedIn">
        <div class="text-right">
          <app-update-author [authorId]="author.id" (updateSuccess)="loadAuthors.emit()"></app-update-author>
          <app-delete-author [authorId]="author.id" (deleteSuccess)="loadAuthors.emit()"></app-delete-author>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="loadingbody">
    <tr *ngFor="let s of [1,2,3,4]">
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td *ngIf="isLoggedIn">
        <p-skeleton></p-skeleton>
      </td>
    </tr>
  </ng-template>
</p-table>
