<p-button styleClass="p-button-text" icon="pi pi-plus" (click)="show()"></p-button>

<p-dialog header="Create Publisher" styleClass="m-2 w-full lg:w-4" [(visible)]="visibleDialog"
          [draggable]="false" [resizable]="false" [modal]="true">

  <div *ngIf="publisher">
    <span class="p-float-label mt-4">
      <input id="name" type="text" class="w-full" pInputText [(ngModel)]="publisher.name" [disabled]="isLoading">
      <label for="name">Name</label>
    </span>
  </div>

  <ng-template pTemplate="footer">
    <p-button styleClass="p-button-text" icon="pi pi-save" label="Save"
              [disabled]="isLoading" (click)="create()"></p-button>
  </ng-template>
</p-dialog>
