/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Trirong';

body {
    margin: 0;
    font-family: 'Trirong', serif;
}

.p-menubar {
  border-radius: 0;
}

.p-datatable-loading-overlay {
  background: none;
}
